.overdrive-carousel-container {
  margin: 0px auto;
  text-align: center;
}

/* Hide extra slides while loading */
.overdrive-carousel .carousel-item {
  display: none;
}

.overdrive-carousel .carousel-item:first-child,
.overdrive-carousel.flickity-enabled .carousel-item {
  display: block;
}

/* Button Styling */
.overdrive-carousel .flickity-prev-next-button {
  color: white;
  background-color: #333;
  width: 33px;
  height: 33px;
}

.overdrive-carousel .flickity-prev-next-button:hover {
  background-color: #666;
}

.overdrive-carousel .carousel-item {
  margin-right: 5%;
}

.overdrive-carousel .carousel-item .carousel-item-cover {
  width: 150px !important;
  height: 200px !important;
  display: inline-block;
}

.overdrive-carousel .carousel-item .carousel-item-image {
}

.overdrive-carousel .carousel-item .carousel-item-info {
  line-height: 1em;
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-title{
  font-size: 0.8em;
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-author {
  font-size: 0.7em;
  font-style: italic;
}
