.overdrive-carousel-container {
  margin: 0px auto;
  text-align: center;
}

/* Hide extra slides while loading */
.overdrive-carousel .carousel-item {
  display: none;
}

.overdrive-carousel .carousel-item:first-child,
.overdrive-carousel.flickity-enabled .carousel-item {
  display: block;
}

/* Button Styling */
.overdrive-carousel .flickity-prev-next-button {
  color: white;
  background-color: #333;
  width: 33px;
  height: 33px;
}

.overdrive-carousel .flickity-prev-next-button:hover {
  background-color: #666;
}

.overdrive-carousel .carousel-item {
  margin-right: 5%;
  /* Set a minimum width for the carousel item so we don't show more than one in existing narrow highlight columns */
  min-width: 200px;
}

.overdrive-carousel .carousel-item .carousel-item-cover {
  display: inline-block;
  min-width: 150px;
  min-height: 225px;
}

.overdrive-carousel .carousel-item .carousel-item-image {
  max-height: 225px;
}

.overdrive-carousel .carousel-item .carousel-item-info {
  line-height: 1em;
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-title{
  font-size: 0.8em;
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-author {
  font-size: 0.7em;
  font-style: italic;
}
