/**
*	@package: Carousel animation
*	@comment: OverDrive flavour
*	@author: Erik Stainsby / Roaring Sky Software
*	@copyright: BC Libraries Coop, 2013
**/

.overdrive-carousel-container {
  margin: 0px auto;
  text-align: center;
}

/* Hide extra slides while loading */
.overdrive-carousel .carousel-item {
  display: none;
}

.overdrive-carousel .carousel-item:first-child {
  display: block;
}

.overdrive-carousel.flickity-enabled .carousel-item {
  display: block;
}

/* Button Styling */
.overdrive-carousel .flickity-prev-next-button {
  color: white;
  background-color: #333;
  width: 33px;
  height: 33px;
}

.overdrive-carousel .flickity-prev-next-button:hover {
  background-color: #666;
}

.overdrive-carousel .carousel-item {
  margin: 0 auto;
  width: 100%;
}

.overdrive-carousel .carousel-item .carousel-item-cover {
  width: 150px !important;
  height: 200px !important;
  display: inline-block;
}

.overdrive-carousel .carousel-item .carousel-item-info {
  line-height: 1em;
  /* text-align: center; */
  /* margin-right: 3.15em; */
  /* display: inline-block; */
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-title,
.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-author {
  font-size: 0.8em;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.overdrive-carousel .carousel-item .carousel-item-info .carousel-item-author {
  font-style: italic;
}
